.user-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the list horizontally */
  justify-content: center; /* Center the list vertically */
  height: 100%; /* Ensure the list takes the full height of the container */
}

.status-bar {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.update-now-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 20px; /* Add margin to create space between the button and the list */
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.update-now-button:hover {
  background-color: #0056b3;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px; /* Adjust width to allocate more space for name */
  padding: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  font-size: 12px; /* Reduce font size */
  height: 40px; /* Adjust height */
  line-height: 20px; /* Adjust line height */
  position: relative;
  border-bottom: 1px solid #ccc;
}

.name {
  flex: 3; /* Adjust the flex value to allocate more space */
  font-weight: bold;
  margin-right: 10px;
  font-size: 1.5em; /* Adjust the font size as needed */
}

.leads {
  flex: 1; /* Adjust the flex value to allocate space */
  text-align: center; /* Center the text */
  font-size: 1.4em; /* Adjust the font size as needed */
  /* add some margin to the right */
  margin-right: 10px;
}

.status {
  flex: 0 0 20px; /* Ensure the status has a fixed size */
  width: 20px; /* Adjust the size as needed */
  height: 20px; /* Adjust the size as needed */
  border-radius: 50%; /* Make it a circle */
  background-color: currentColor; /* Use the current text color */
}

.absent { background-color: red; }
.available { background-color: green; }

.status.available {
  background-color: #4caf50;
}

.status.absent {
  background-color: #ff4d4d;
}
