.user-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the list horizontally */
  justify-content: center; /* Center the list vertically */
  height: 100%; /* Ensure the list takes the full height of the container */
}

.status-bar {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.update-now-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 20px; /* Add margin to create space between the button and the list */
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.update-now-button:hover {
  background-color: #0056b3;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 10px;
  background: white;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  font-size: 12px; /* Reduce font size */
  height: 24px; /* Reduce height */
  line-height: 20px; /* Adjust line height */
  position: relative;
  border-bottom: 1px solid #ccc;
}

.name {
  font-weight: bold;
  margin-right: 10px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px transparent black;
  display: inline-block;
}

.absent { background-color: red; }
.lead { background-color: yellow;}
.busy { background-color: gray; }
.available { background-color: green; }

.status.available {
  background-color: #4caf50;
}

.status.lead {
  background-color: yellow;
}

.status.absent {
  background-color: #ff4d4d;
}

.status.busy {
  background-color: gray;
}

/* Tooltip styles */
.__react_component_tooltip {
  font-size: 14px;
  padding: 5px 10px;
  background: #333;
  color: #fff;
  border-radius: 4px;
}
